<?= $include('header', ['controller' => $controller, 'action' => $action]) ?>

<div class="wrapper">
	<div class="container-fluid">
		<header>
			<h1><span class="bricks">Bricks</span> Base framework</h1>
			<div>
				Базовые возможности для простых задач
			</div>
		</header>
		<div class="content">
			<div class="row">
				<div class="col-md-4">
					<h3>Описание</h3>
					<p>
						Фреймворк Bricks Base построен с использованием пакетов <a href="http://bashka.github.io/bricks/">Bricks</a>, а так же клиентских библиотек <a href="http://jquery.com/">JQuery</a> и <a href="http://getbootstrap.com/">Bootstrap</a>. Вы можете заменить эти компоненты на собственные решения, или расширить их на свое усмотрение.
					</p>
				</div>
				<div class="col-md-4">
					<h3>Поддержка</h3>
					<p>
						Если у вас возникнут вопросы, касающиеся использования данного фреймворка, создайте <a href="https://github.com/Bashka/bricks_frameworks_base/issues">обсуждение</a>.
					</p>
				</div>
				<div class="col-md-4">
					<h3>Сотрудничество</h3>
					<p>
						Вы можете помочь проекту дополняя его, или сообщая о найденных багах. Код пакетов <a href="http://bashka.github.io/bricks/docs.html">Bricks</a> и <a href="https://github.com/Bashka/bricks_frameworks_base">данного фреймворка</a> открыт и распространяется под лицензией <a href="http://www.gnu.org/licenses/gpl.html">GNU GPL v3</a>.
					</p>
				</div>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="col-md-12">
					<p>
						Создано и поддерживается
						<br/>
						Artur Sh. Mamedbekov
					</p>
				</div>
			</div>
		</footer>
	</div>
</div>

<?= $include('footer') ?>
